namespace AoC.Dayx
{
    internal class Dayx : DayBase
    {
        private const string InputFile = "";
        internal Dayx() { }
        internal override void MainA()
        {

        }
        internal override void MainB()
        {

        }
    }
}